body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: inherit;
    margin: 8px;
}

.container-fluid {
    text-align: center;
}

#confidence-score {
    font-size: 20pt;
}

#page-name {
    font-style: italic;
}

.hidden {
    display: none;
}

.feedback {
    text-align: right;
    font-size: 0.8rem;
}