body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: inherit;
    margin: 8px;
    min-width: 500px;
    max-width: 700px;
}

#related-articles {
    text-align: left;
}

.emphasize {
    font-weight: bold;
}

.container-fluid {
    text-align: center;
}

.confidence-score {
    font-size: 20pt;
}

#page-name {
    font-style: italic;
}

.hidden {
    display: none;
}

.feedback {
    text-align: right;
    font-size: 0.8rem;
}

.popup-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.7ex;
}

.popup-title img {
    margin-right: 1ex;
}

.categories-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
